.cat-img {
  height: 225px;
  width: 98%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.test {

}

.trophies {
  font-size: 28px;
}

.cat-action-cost {
  font-size: 48px;
}

.cat-img-massive {
  height: 300px;
  width: 300px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.cat-row {
  border: 1px solid black;
}

.cat-card {
  margin-top: 10px;
  vertical-align: top;
  display: inline-block;
  width: 325px;
  text-align: center;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 425px;
  //background-image: image-url("catscatscats.jpg")
}

.cat-title {
  background: rgba(255, 255, 255, 0);
}

.cat-title-big {
  font-size: 20px;
}

.cat-icons-big {

}

.cat-left-align {
  text-align: left;
  margin-left: 1em;
}

.full {
  width: 100%;
}

.tcol-3 {
  width: 20%;
}

.tcol-5 {
  width: 50%;
}

.cat-flavor {
  font-style: italic;
  font-size: 12px;
}

.rules-reference {
  margin: 20px;
  border: 1px solid black;
}

.number {
  font-size: 32px;
  border: 1px solid black;
  text-align: center;
}

.extra-tokens {
  margin: 10px;
}

@media print {
  .cat-card {
    display: inline-block;
    //width: 30%;
  }

  .cat-gallery {
    display: block;
  }

  .row {
    display: block;
  }

  .col-4 {
    width: 30%;
    display: inline;
  }

  .col-5 {
    width: 40%;
    display: inline;
  }

  .col-3 {
    width: 20%;
    display: inline;
  }

  .page-break-test {
    page-break-after:always;
  }
}

.cat-description {
  font-size: 18px;

}

.cat-shift-title {
  text-align: right;
}

.cat-scores {
  //display: inline-block;
}

.tolerance {
   width: 25px;
   height: 25px;
 }

.score-small {
  width: 50px;
  height: 50px;
}

.score-small-icon {
  width: 35px;
  height: 35px;
}

.bratty {
  font-family: 'BrattyFont'
}

.curious {
  font-family: 'Curious'
}

.cuddly {
  font-family: 'Cuddly'
}

.furocious {
  font-family: 'Furocious'
}

.conspirator {
  font-family: 'Conspirator'
}

@font-face {
  font-family: "Curious";
  src: font-url("curious.ttf") format('truetype');;
}

@font-face {
  font-family: "BrattyFont";
  src: font-url("bratty.ttf") format('truetype');;
}

@font-face {
  font-family: "Cuddly";
  src: font-url("cuddly.ttf") format('truetype');;
}

@font-face {
  font-family: "Furocious";
  src: font-url("furocious.ttf") format('truetype');;
}

@font-face {
  font-family: "Conspirator";
  src: font-url("conspirator.ttf") format('truetype');;
}

.modifier-slash {
  font-size: 32px;
  margin-top: 5px;
  background-color: white;

}

.modifier-cat {
  width: 50px;
  height: 50px;
  font-size: 32px;
}

.score-big {
  width: 100px;
  height: 100px;
}

.score-medium {
  width: 50px;
  height: 50px;
}

.angry {
  margin-bottom: 5px;
}

.fish {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.shorten {
  margin-left: -5px;
  margin-right: -5px;
}

.cat-mechanics {
  border-top: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.cat-stats {
  border-top: 1px solid black;
  margin-left: 0px!important;
  margin-right: 0px!important;
  .col-6 {
    border: 1px solid black;
  }
}
