.cat-img {
  height: 225px;
  width: 98%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.test {

}

.trophies {
  font-size: 28px;
}

.cat-action-cost {
  font-size: 48px;
  margin-bottom: 0px;
  td {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}


.cat-action-right {
  font-size: 24px;
  float: right;
}

.cat-img-massive {
  height: 300px;
  width: 300px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.cat-row {
  border: 1px solid black;
}

.cat-card {
  margin-top: 10px;
  vertical-align: top;
  display: inline-block;
  width: 300px;
  text-align: center;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 425px;
  //background-image: image-url("catscatscats.jpg")
}

.cat-title {
  background: rgba(255, 255, 255, 0);
}

.cat-title-big {
  font-size: 20px;
}

.cat-icons-big {

}

.cat-left-align {
  text-align: left;
  margin-left: 1em;
}

.full {
  width: 100%;
}

.tcol-3 {
  width: 20%;
}

.cost-font {
  font-size: 28px;
}

.color-brat {
  color: #db1a23;
}

.color-cuddly {
  color: #20d91a;
}

.color-curious {
  color: blue;
}

.color-furocious {
  color: #d31ad9;
}

.tcol-5 {
  width: 50%;
}

.cat-flavor {
  font-style: italic;
  font-size: 12px;
}

.rules-reference {
  margin: 20px;
  border: 1px solid black;
}

.number {
  font-size: 32px;
  border: 1px solid black;
  text-align: center;
}

.extra-tokens {
  margin: 10px;
}

@media print {
  .cat-card {
    display: inline-block;
    //width: 30%;
  }

  .cat-gallery {
    display: block;
  }

  .row {
    display: block;
  }

  .col-4 {
    width: 30%;
    display: inline;
  }

  .col-5 {
    width: 40%;
    display: inline;
  }

  .col-3 {
    width: 20%;
    display: inline;
  }

  .page-break-test {
    page-break-after:always;
  }
}

.cat-description {
  font-size: 18px;

}

.cat-shift-title {
  text-align: right;
}

.cat-scores {
  //display: inline-block;
}

.big-icon {
  width: 50px;
  height: 50px;
}

.tolerance {
   width: 25px;
   height: 25px;
 }

.score-small {
  width: 50px;
  height: 50px;
}

.score-small-icon {
  width: 35px;
  height: 35px;
}

.bratty {
  font-family: 'BrattyFont'
}

.curious {
  font-family: 'Curious'
}

.cuddly {
  font-family: 'Cuddly'
}

.furocious {
  font-family: 'Furocious'
}

.cat-font {
  font-family: 'Cat'
}

.conspirator {
  font-family: 'Conspirator'
}

@font-face {
  font-family: "Curious";
  src: font-url("curious.ttf") format('truetype');;
}

@font-face {
  font-family: "BrattyFont";
  src: font-url("bratty.ttf") format('truetype');;
}

@font-face {
  font-family: "Cuddly";
  src: font-url("cuddly.ttf") format('truetype');;
}

@font-face {
  font-family: "Cat";
  src: font-url("kitties.ttf") format('truetype');;
}

@font-face {
  font-family: "Furocious";
  src: font-url("furocious.ttf") format('truetype');;
}

@font-face {
  font-family: "Conspirator";
  src: font-url("conspirator.ttf") format('truetype');;
}

.modifier-slash {
  font-size: 32px;
  margin-top: 5px;
  background-color: white;

}

.modifier-cat {
  width: 50px;
  height: 50px;
  font-size: 32px;
}

.score-big {
  width: 100px;
  height: 100px;
}

.score-medium {
  width: 50px;
  height: 50px;
}

.angry {
  margin-bottom: 5px;
}

.fish {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.shorten {
  margin-left: -5px;
  margin-right: -5px;
}

.cat-mechanics {
  border-top: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.cat-stats {
  border-top: 1px solid black;
  margin-left: 0px!important;
  margin-right: 0px!important;
  .col-6 {
    border: 1px solid black;
  }
}

.u-flex {
  display: flex;
}

.u-flex-space-between {
  justify-content: space-between;
}

.u-4ml--l {
  margin-left: 1.5em;
}
.u-4mr--l {
  margin-right: 1.5em;
}

.u-4ml--s {
  margin-left: 0.5em;
}

.u-4mr--s {
  margin-right: 0.5em;
}

.u-4mr--xs {
  margin-right: 0.25em;
}

.u-4ml--xs {
  margin-left: 0.25em;
}

.cat-card-js {
  margin-top: 10px;
  vertical-align: top;
  display: inline-block;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 150px;
  //background-image: image-url("catscatscats.jpg")
  max-height: 200px;
}

.cat-img-js {
  height: 75px;
  width: 98%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.u-border {
  border: 1px solid black;
}

.player-cat-icon {
  width: 25px;
  height: 25px;
}

.cat-description-js {
  font-size: 12px;

}

.tolerance-js {
  width: 10px;
  height: 10px;
}

.u-4ml--xxs {
  margin-left: 2px;
}

.u-4mr--xxs {
  margin-left: 2px;
}

.big-icon-js {
  width: 20px;
  height: 20px;
}

.js-subtype {
  font-size: 12px;
}

.u-4mb--n {
  margin-bottom: 0px!important;
}

.cat-stats-js {
  font-size: 12px;
}

.cats-game-js {
  line-height: 1;
}

.cat-card-js:hover {
  background-color: lightsalmon;
  cursor: pointer;
}

.cat-card-js-highlighted {
  background-color: lightsalmon;
}

.u-flex-center {
  align-items: center;
  justify-content: center;
}

.big-load-icon {
  height: 50px;
  width: 50px;
}

.js-big-window {
  min-width: 600px;
}

.u-flex-up-down {
  flex-direction: column;
}

.u-text-align-center {
  text-align: center;
}