.optional {
  margin-left: 5px;
  margin-right: 5px;
}

.required {
  margin-right: 5px;
}

abbr {
  display: none;
}

.main-img {
  height: 600px;
}

@media only screen and (max-width: 1000px) {
  .main-img {
    height: auto;
    width: 95%;
  }
}

.error {
  color: red;
  font-size: 12px;
}
.pitch {
  text-align: center;
  .cat-description {
    font-size: 18px!important;
  }
  background-color: lightpink;
}

body {
  background-color: white;
}

.form {
  border: 1px solid black;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}



