.cat-card{style: derive_background_image(cat)}
  - if cat['type'] == 'cat'
    = render partial: 'cats/cat', locals: {cat: cat}
  - elsif cat['type'] == 'action'
    = render partial: 'cats/action', locals: {action: cat}
  - else
    = raise "unk #{cat}"